<?xml version="1.0" encoding="utf-8"?>
<module>
	<assemblies>
		<add assembly="playground" />
	</assemblies>
	<clientResources>
	</clientResources>
	<dojo>
		<!-- Add a mapping from foundation to ~/ClientResources/Scripts to the dojo loader configuration -->
		<paths>
			<add name="foundation" path="Scripts" />
		</paths>
	</dojo>
</module>