@model playground.Features.Models.Blocks.StarRatingViewModel

<div class="contact">
    <div class="card">
        <h1>JavaScript Star Rating</h1>
        <br />
        <span onclick="update(1)"
              class="star">★
        </span>
        <span onclick="update(2)"
              class="star">★
        </span>
        <span onclick="update(3)"
              class="star">★
        </span>
        <span onclick="update(4)"
              class="star">★
        </span>
        <span onclick="update(5)"
              class="star">★
        </span>
        <h3 id="output">
              Rating is: 0/5
          </h3>
    </div>
</div>
